{% extends 'base-session.html' %}
{% load staticfiles %}

{% block title %}
<title> Management Session - PDT</title>
{% endblock title %}

{%block modal %}
<div id="submitDev" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Development Summary</h4>
              </div>

              <form class="form-horizontal" role="form" method="post" action="">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="time">Time:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  name="time" value="00:00:00" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="sloc">SLOC:</label>
                    <div class="col-sm-6">
                      <input type="number" min="0" class="form-control" id="sloc" name="sloc" placeholder="123" required autofocus>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" name="sid" value="">
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>


            </div>

          </div>
        </div>
<div id="submitRem" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Defect Removal Summary</h4>
              </div>

              <form class="form-horizontal" role="form" method="post" action="">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="time">Time:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" name="time" value="00:00:00" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="defectNo">Defects removed:</label>
                    <div class="col-sm-6">
                      <input type="number" min="0" class="form-control" id="defectNo" name="defectNo" placeholder="3" required>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden"  name="sid" value="">
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>


            </div>

          </div>
        </div>
<div id="submitMng" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Management Summary</h4>
              </div>

              <form class="form-horizontal" role="form" method="post" action="">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="time">Time:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  name="time" value="00:00:00" required>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" name="sid" value="">
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </form>


            </div>

          </div>
        </div>
<div id="submitmodal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Development Summary</h4>
              </div>

              <form class="form-horizontal" role="form" method="post" action="/developer/endmng/">
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label col-sm-4" for="time">Time:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="time" name="time" value="00:00:00" required>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" id="sid" name="sid" value="{{ sid }}">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </form>


            </div>

          </div>
        </div>
<div class="modal fade" id="defectReport" tabindex="-1" role="dialog" aria-labelledby="createDefectLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <form class="form-horizontal" action="" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createDefectLabel">Defect Report</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
            <label for="defectName" class="col-sm-4 control-label">Defect Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="defectName" placeholder="Defect">
            </div>
            </div>
            <div class="form-group">
            <label for="defectDate" class="col-sm-4 control-label">Date Discovered</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="defectDate" placeholder="{{date}}">
            </div>
            </div>
           <div class="form-group">
               <label for="phaseInjected" class="col-sm-4 control-label">Phase Injected</label>
                <div class="col-sm-8">
                <select class="form-control" id="phaseInjected">
                  <option>Inception</option>
                  <option>Elaboration</option>
                  <option>Construction</option>
                  <option>Migration</option>
                </select>
                </div>
            </div>
          <div class="form-group">
               <label for="phaseRemoved" class="col-sm-4 control-label">Phase Removed</label>
                <div class="col-sm-8">
                <select class="form-control" id="phaseRemoved">
                  <option>Inception</option>
                  <option>Elaboration</option>
                  <option>Construction</option>
                  <option>Migration</option>
                    <option>Not yet</option>
                </select>
                </div>
            </div>
          <div class="form-group">
               <label for="defectType" class="col-sm-4 control-label">Type</label>
                <div class="col-sm-8">
                <select class="form-control" id="defectType">
                  <option>Requirements</option>
                  <option>Design</option>
                  <option>Implementation</option>
                    <option>Deployment</option>
                </select>
                </div>
            </div>
          <div class="form-group">
            <label for="defectDesc" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8">
             <textarea class="form-control" id="defectDesc" rows="3"></textarea>
            </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Update Report</button>
      </div>
         </form>
    </div>
  </div>
</div>
{%endblock modal %}

{%block main %}
<div class="row">
    <div class="col-md-3">
        <div class="well timer">
        <p class="lead">Time Elapsed</p>
          <h1 id="timerdisplay">00:00:00</h1>
          <p class="control">
            <button class="btn btn-md btn-info" onclick="pausetimer()" id="pausebutton" role="button">Pause</button>
            <button class="btn btn-md btn-danger" onclick="stoptimer()" data-toggle="modal" data-target="#submitmodal" id="stopbutton" role="button">Stop</button> <!-- Modal -->
          </p></div>
    </div>
    <div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="recentSessions">
        <h4 class="panel-title">
          <a class="" role="button" data-toggle="collapse" href="#recentSessionList" aria-expanded="true" aria-controls="recentSessionList">
           Recent Sessions
          </a>
        </h4>
      </div>
        <div id="recentSessionList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recentSessionListHeading" aria-expanded="true">
        <ul class="list-group"  >
          <li class="list-group-item">
              <span>Development Session</span>
              <span>24/11/2015</span>
              <button class="btn btn-default" data-toggle="modal" data-target="#submitDev">Edit</button>
          </li>
          <li class="list-group-item">
              <span>Management Session</span>
              <span>24/11/2015</span>
              <button class="btn btn-default" data-toggle="modal" data-target="#submitMng">Edit</button></li>
          <li class="list-group-item">
              <span>Defect Removal Session</span>
              <span>24/11/2015</span>
              <button class="btn btn-default" data-toggle="modal" data-target="#submitRem">Edit</button></li>
        </ul>
      </div>
    </div>
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="recentDefects">
        <h4 class="panel-title">
          <a class="" role="button" data-toggle="collapse" href="#recentDefectList" aria-expanded="true" aria-controls="recentDefectList">
           Recent Defects
          </a>
        </h4>
      </div>
        <div id="recentDefectList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="recentDefectListHeading" aria-expanded="true">
        <ul class="list-group"  >
          <li class="list-group-item">
              <span>Requirements Change</span>
              <span>24/11/2015</span>
              <button class="btn btn-default" data-toggle="modal" data-target="#defectReport">Edit</button>
          </li>
        </ul>
      </div>
    </div>
    </div>
</div>
{% endblock main %}

{%block js %}
    <script src="{% static 'js/timer.js' %}"></script>
{% endblock js %}
