{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>Login - Project Data Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/cover.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="cover-heading"><a href="/">Project Data Tracker</a></h1>
            </div>
          </div>

          <div class="inner cover">
            {% if failed %} <h2 class="form-signin-heading">Invalid Username/Password</h2> {% endif %}
            {% if logged_out %} <h2 class="form-signin-heading">You have successfully logged out.</h2> {% endif %}
            <form class="form-signin" method="POST" action = "verify">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus >
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required >
                <button type="submit" class="btn btn-lg btn-primary btn-block" >Login</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="/">Your Company ™</a> 2015</p>
              <p>Powered By <a href="https://github.com/septjew/project-data-tracker">SE-One</a> &copy; </p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
