{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
 <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="cover-heading"><a href="/">Project Data Tracker</a></h1>
            </div>
          </div>

          <div class="inner cover">
            {% if failed %} <h2 class="form-signin-heading">Invalid Username/Password</h2> {% endif %}
            {% if logged_out %} <h2 class="form-signin-heading">You have successfully logged out.</h2> {% endif %}
            <form class="form-signin" method="POST">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus >
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required >
                <button type="submit" class="btn btn-lg btn-primary btn-block" >Login</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><a href="/">Your Company ™</a> 2015</p>
              <p>Powered By <a href="https://github.com/septjew/project-data-tracker">SE-One</a> &copy; </p>
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}