{% extends 'base-dashboard.html' %}
{% load staticfiles %}

{% block title %}
<title>Overview - {{ prjname }} - Project Data Tracker</title>
{% endblock title %}

{% block css %}
 <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/morris.css' %}" rel="stylesheet">
{% endblock css %}

{%block modal %}
<div id="newiteration" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Iteration</h4>
          </div>

          <form class="form-horizontal" role="form" method="post" action="newiteration/">
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label col-sm-3" for="phase">New iteration at:</label>
                <div class="col-sm-9">
                  <!-- <input type="number" min="0" class="form-control" id="sloc" name="sloc" placeholder="Enter Source Line of Code" required autofocus> -->
                  <div class="radio">
                    <label>
                      <input type="radio" name="phase" id="phaseCurrent" value="current" checked>
                      Current Phase: {{ curphasename }}
                    </label>
                  </div>
                  {% if curphase != "4" %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="phase" id="phaseNext" value="next">
                      Next Phase: {{ nextphasename }} (The current phase will be closed)
                    </label>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" id="sid" name="sid" value="{{ sid }}">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>


    </div>

  </div>
</div>

{% endblock modal %}
{%block sidebar %}
   <li class="active"><a href="#">Overview</a></li>
   <li><a href="report/">Reports</a></li>
   <li><a href="manager/activity">Activities</a></li>
   <li><a href="setting/">Settings</a></li>
{% endblock sidebar %}

{% block main %}
  <h1 class="page-header">{{ prjname }}
    <span class="text-small">
      {% if not closed %} Currently at Phase {{ curphase }}, Iteration {{ curitr }} {% else %} Closed {% endif %}
    </span>
  </h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'img/time-sm.png' %}" class="img-responsive" alt="time">
              <h4>{{ startdate }} ~ {{ enddate }}</h4>
              <span class="text-muted">Total time spent</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'img/code-sm.png'%}" class="img-responsive" alt="code">
              <h4>{{ totsloc }} lines</h4>
              <span class="text-muted">Total SLOC</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src= "{% static 'img/bug-sm.png'%}" class="img-responsive" alt="defect">
              <h4>XX</h4>
              <span class="text-muted">Total number of defects </span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder hoverlight" data-toggle="modal" data-target="#newiteration">
              <img src= "{% static 'img/new-sm.png'%}" class="img-responsive" alt="defect">
              <h4>New Iteration</h4>
              <!-- <span class="text-muted"></span> -->
            </div>
          </div>

          <div id="latestActivity"></div>

          <h2 class="sub-header">Size and Progress</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Metric</th>
                  <th>Value</th>
                  <th>Estimate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Delivered SLOC</td>
                  <td>{{ totsloc }}</td>
                  <td>{{ totslocesti }}</td>
                </tr>
                <tr>
                  <td>Effort(person-months)</td>
                  <td>{{ personmonths }}</td>
                  <td>{{ pmesti }}</td>
                </tr>
                <tr>
                  <td>Delivered SLOC per person-month</td>
                  <td>{{ avesloc }}</td>
                  <td>Not Applicable</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--table-->
          <h2 class="sub-header">Defect and Quality</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Metric</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Defects Injected</td>
                  <td>Not Closed Yet</td>
                </tr>
                <tr>
                  <td>Defects Removed</td>
                  <td>22</td>
                </tr>
                <tr>
                  <td>Injection rate per person-hour of development</td>
                  <td>Not Closed Yet</td>
                </tr>
                <tr>
                  <td>Removal rate per person-hour of defect removal</td>
                  <td>2.5</td>
                </tr>
                <tr>
                  <td>Defect density per KSLOC</td>
                  <td>Not Closed Yet</td>
                </tr>
                <tr>
                  <td>Yield</td>
                  <td>Not Closed Yet</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--table-->
{% endblock main %}

{%block js %}
 <!-- Morris Chart js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    <script src="{% static 'js/morris-data.js' %}"></script>

{%endblock js %}
