
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Manager Dashboard - Project Data Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project Data Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Signed in as <strong>{{ user.username }}</strong></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/auth/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Ongoing Projects<span class="sr-only">(current)</span></a></li>
            <li><a href="#">All Projects</a></li>
            <li><a href="#" data-toggle="modal" data-target="#createproject">New Project</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="row">
            {% for prj in prjlist %}
            <a type="button" class="btn btn-info btn-lg gradient" href="/manager/project/{{ prj.id }}/">
              <h3>{{ prj.name }}</h3>
              <p>Phase {{ prj.curphase }}<br>Iteration {{ prj.curitr }} </p>
            </a>
            {% endfor %}
            <!-- Modal -->
            <div id="createproject" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Project</h4>
                  </div>

                  <form class="form-horizontal" role="form" method="post" action="/manager/newproject/">
                    <div class="modal-body"> To be implemented...
                      <!--
                      <div class="form-group">
                        <label class="control-label col-sm-4" for="sloc">SLOC:</label>
                        <div class="col-sm-6">
                          <input type="number" min="0" class="form-control" id="sloc" name="sloc" placeholder="Enter Source Line of Code" required autofocus>
                        </div>
                      </div> -->
                    </div>
                    <div class="modal-footer">
                      <input type="hidden" id="sid" name="sid" value="{{ sid }}">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </form>


                </div>

              </div>
            </div>
            <button type="button" class="btn btn-info btn-lg gradient" data-toggle="modal" data-target="#createproject">
              <h1>+</h1>
              <p>New Project</p>
            </button>
          </div><!--/row-->



        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <!-- but the above cdn seems slow in HKU -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}">
  </body>
</html>
