{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>Overview - {{ prjname }} - Project Data Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/morris.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project Data Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Signed in as <strong>{{ user.username }}</strong></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/auth/logout/">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Modal -->
    <div id="newiteration" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create New Project</h4>
          </div>

          <form class="form-horizontal" role="form" method="post" action="newiteration/">
            <div class="modal-body"> To be implemented...
              <!--
              <div class="form-group">
                <label class="control-label col-sm-4" for="sloc">SLOC:</label>
                <div class="col-sm-6">
                  <input type="number" min="0" class="form-control" id="sloc" name="sloc" placeholder="Enter Source Line of Code" required autofocus>
                </div>
              </div> -->
            </div>
            <div class="modal-footer">
              <input type="hidden" id="sid" name="sid" value="{{ sid }}">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>


        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="report/">Reports</a></li>
            <li><a href="#">Defects</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ prjname }} <span class="text-small">Currently at Phase {{ curphase }}, Iteration {{ curitr }}</span></h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'img/time-sm.png' %}" class="img-responsive" alt="time">
              <h4>{{ tottime }} days</h4>
              <span class="text-muted">Total time spent</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{% static 'img/code-sm.png'%}" class="img-responsive" alt="code">
              <h4>{{ totsloc }} lines</h4>
              <span class="text-muted">Total SLOC</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src= "{% static 'img/bug-sm.png'%}" class="img-responsive" alt="defect">
              <h4>XX</h4>
              <span class="text-muted">Total number of defects </span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder hoverlight" data-toggle="modal" data-target="#newiteration">
              <img src= "{% static 'img/new-sm.png'%}" class="img-responsive" alt="defect">
              <h4>New Iteration</h4>
              <span class="text-muted">Close current iteration</span>
            </div>
          </div>

          <div id="latestActivity"></div>

          <h2 class="sub-header">Size and Progress</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Metric</th>
                  <th>Value</th>
                  <th>Estimate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Delivered SLOC</td>
                  <td>{{ totsloc }}</td>
                  <td>{{ totslocesti }}</td>
                </tr>
                <tr>
                  <td>Effort(person-months)</td>
                  <td>{{ personmonths }}</td>
                  <td>{{ pmesti }}</td>
                </tr>
                <tr>
                  <td>Delivered SLOC per person-month</td>
                  <td>{{ avesloc }}</td>
                  <td>Not Applicable</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--table-->
          <h2 class="sub-header">Defect and Quality</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Metric</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Defects Removed</td>
                  <td>33</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--table-->
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <!-- but the above cdn seems slow in HKU -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Morris Chart js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    <script src="{% static "js/morris-data.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
